@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic');

html {
    background-color: white;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vh;
}

.add-clip {
    background-image: linear-gradient(180deg, #13fefe, #50abeb);
    background-origin: border-box;
    box-shadow: inset 0 1000px white;
    border: 1px solid transparent;
    width: 40vw;
    margin: 1vh auto 1vh auto;
    border-radius: 20px;
}

.add-clip-text {
    margin: 1vh;
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
    background-image: linear-gradient(180deg, #13fefe, #50abeb);
}

.avatar {
    height: 15vh;
    width: 15vh;
    border-radius: 100px;
}


.battles {
    margin-top: 2vh;
    width: 95vw;
    max-width: 95vw;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 80vh;
}
.battle {
    width: 95vw;
    max-width: 95vw;
    display: flex;
    flex-direction: row;
    padding-bottom: 1vh;
    padding-top: 1vh;
    border-bottom: .4vh solid;
}
.battle-about {
    display: flex;
    flex-direction: row;
}
.battle-avatar {
    height: 7vh;
    width: 7vh;
    border-radius: 900px;
    border: 1px solid;
}
.battle-name {
    padding: 2.3vh 0 0 1.5vw
}
.battle-score {
    display: flex;
    justify-content: center;
    padding-top: .5vh;
}
.battle-left {
    display: flex;
    flex-direction: column;
    max-width: 30vw;
}
.battle-right {
    display: flex;
    flex-direction: column;
    max-width: 30vw;
}

.bin {
    margin-bottom:-3vh;
    position: relative;
    width: 10vw;
    height: 10vw;
    z-index: 2;
}

.blue-gradiented-text {
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
    background-image: linear-gradient(180deg, #13fefe, #50abeb);
}

html {
    overflow: hidden;
    height: 100vh;
}
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    background-color: white;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

.button {
    background-image: linear-gradient(180deg, #13fefe, #50abeb);
    background-origin: border-box;
    box-shadow: inset 0 1000px white;
    border: 1px solid transparent;
    border-radius: 15px;
    width: 70vw;
    margin: 2vh auto 2vh auto;
    height: 60px;
    text-align: center;
    font-weight: bold;
}
.buttons-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cancel {
    margin-top: 2vh;
    width: 23vw;
    border: 1px solid #DADADA;
    margin: 0 2vw 0 2vw;
    padding: .5vh 1vw .5vh 1vw;
    border-radius: 10px;
}

.card-grid {
    width:100vw;
    display: flex;
    flex-direction: row;
}
.card {
    margin-right: 2vh;
    width: 45vw;
    height: 60vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.categories {
    width: 30vh;
    margin: 15vh auto 0 auto;
    font-size: 6vh;
    text-align: center;
    font-weight: 300;
    padding-left:0;
    overflow: auto;
    position: relative;
    height: 60vh;
}
.categories::-webkit-scrollbar {
    display:none
}
.category-inactive {
    color:grey;
    margin: 3.5vh 0 3.5vh 0;
}
.category-active {
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
    background-image: linear-gradient(180deg, #13fefe, #50abeb);
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: #DADADA;
}
.category-invisible {
    visibility: hidden;
}

.challenge {
    color: white;
    background-image: linear-gradient(180deg, #FF4DE2, #8601A7);
    margin: 3vh 15vw 0 15vw;
    padding: 0 1vw 0 1vw;
    border-radius: 30px;
    text-align: center;
    height: 50px;

}
.challenge-text {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.coins {
    text-align: center;
	color: transparent;    
    font-size:2em;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(180deg, #FF4DE2, #8601A7);
}

.header {
    display: flex;
    flex-direction: row;
}
.headertext {
    justify-content: center;
    margin: 0 auto;
    font-size: 3vh;
    font-weight: bold;
    padding-top: .2vh;
}

.youtube-input {
    height: 5vh;
    width: 70vw;
    font-size: 1.7vh;
    background-color: #F2F2F2;
    border-radius: 5px;
    border: 0;
    margin-bottom: 2vh;
}

.iframe {
    width: 45vw;
    height: 45vh;
}

li {
    list-style-type: none;
}

.loader {
    margin: 0 auto 0 auto;
    width: 48px;
    height: 48px;
    border: 5px solid #DADADA;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

.marked {
    display: block;
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    top:-185px;
    left: 90px;
}

.name {
    font-size: 4vh;
    font-weight: bold;
}

.notification {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    height: 25vh;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    margin: 37.5vh 0 0 5vw;
    border-radius: 20px;
    z-index: 3;
}
.notification-header {
    font-weight: bold;
    text-align: center;
    font-size: 2.5vh;
    margin: 0 auto 0 auto;
    width: 80%;
    z-index: 3;
}
.notification-text {
    color: #a5a5a5;
    text-align: center;
    margin: 1vh 0 2vh 0;
    z-index: 3;
}
.notification-button {
    color: white;
    background-image: linear-gradient(180deg, #13fefe, #50abeb);
    padding: .5vh 1vw .5vh 1vw;
    border-radius: 30px;
    margin: 0 auto 0 auto;
    height: 20%;
    width: 90%;
    z-index: 3;
}
.notification-button-text {
    z-index: 3;
    color: white;
    font-weight: bold;
    margin: 3.5%;
}

.notification-cancel-button {
    color: white;
    background-image: linear-gradient(180deg, #FF4DE2, #8601A7);
    padding: .5vh 1vw .5vh 1vw;
    border-radius: 30px;
    margin: 2vh auto 0 auto;
    height: 20%;
    width: 90%;
    z-index: 3;
}

.overlay {
    position: relative;
}

.overlay:after {
    content: '\A';
    position: absolute;
    width: 100%; 
    height: 100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.5);
    opacity: 1;
    z-index: 2;
}

.profileIframe {
    height: 180px;
    width: 33vw;
    overflow: hidden;
    margin:0;
    margin: 2px;
    background-image: linear-gradient(180deg, #13fefe, #50abeb);
    background-origin: border-box;
    box-shadow: inset 0 1000px white;
    border: 2px solid transparent;
}

.profileIframe-img {
    position: relative;
    margin: 0 0 0 -92px;
    left:0;
}

.profileIframe-img-img {
    position: relative;
    margin: 0 0 0 -92px;
    left:0;
}

.submit {
    margin-top: 2vh;
    width: 23vw;
    margin: 0 2vw 0 2vw;
    padding: .5vh 1vw .5vh 1vw;
    background-image: linear-gradient(180deg, #FF4DE2, #8601A7);
    background-origin: border-box;
    box-shadow: inset 0 1000px white;
    border: 1px solid transparent;
    border-radius: 10px; 
}

.submit-text {
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(180deg, #FF4DE2, #8601A7);
}

.tags {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    max-width: 97vw;
    overflow: auto;
}

.tag-active {
    color: white;
    background-image: linear-gradient(180deg, #13fefe, #50abeb);
    margin: 0 2vw 0 2vw;
    padding: .5vh 1vw .5vh 1vw;
    border-radius: 30px;
}

.tag-inactive {
    border: 1px solid #DADADA;
    margin: 0 2vw 0 2vw;
    padding: .5vh 1vw .5vh 1vw;
    border-radius: 30px;
}

.video-row {
    display: flex;
    flex-direction: row;
    margin:0;
}

.videos {
    max-width: 100%;
    height: 60vh;
    overflow: auto;
    margin-top:2vh;
    border: 1px solid;
}

.vs {
    display: flex;
    justify-content: center;
    margin: 1vh 5vh 0 7vh;
    font-size: 3vh;
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(180deg, #FF4DE2, #8601A7);
}

.wrapper {
    margin-left: 2vh;
    margin-top: 3vh;
}

.yt-connect {
    width: 80vw;
    height: 30vh;
    margin: 25vh auto 0 auto;
    border-radius: 10px;
    background-image: linear-gradient(180deg, #13fefe, #50abeb);
    background-origin: border-box;
    box-shadow: inset 0 1000px white;
    border: 1px solid transparent;
}
